
html {
  height: 100vh;
  width: 100vw;
  padding:0px;
  margin:0px;
  overflow-x: hidden;
}

body
{
  padding:0px;
  margin:0px;
  background-color:#f5f5f5;
}

.navbar
{
  z-index:1000;
  position:relative;
  text-align:right;
  padding-right:20px;
}

.navbar h2
{
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  font-size: 16px;
  font-family: 'DM Sans'
}

.link
{
  text-decoration:none;
  color:#555;
}

.link:hover {
  text-decoration: underline;
}

h1
{
  color:#555;
}

.sec 
{
  font-family: 'DM Sans';
  width:100vw;
  height:100vh;
  opacity:0;
  transition: 1s all ease;
  scroll-snap-align: start;
}



.sec.active{
  transform:translateY(0);
  opacity:1;
}

.home-text
{
  padding-top:20vh;
  margin:0px;
  color:#555;
  justify-content: center;
  float:left;
}

.header-main-text
{
  font-size:55px;
  margin:0px;
  font-family: 'DM Sans';
  font-weight:700;
}

.header-sub-text
{
  font-size:26px;
  font-family: 'DM Sans';
  margin:0px;
}

.header-gif
{
  padding-top:20px;
  height:300px;
  width:300px;
}

.sec.contact
{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 25%;
  padding-right: 25%;
}

.contact-form
{
  padding:20px;
  background-color: #ebe6e6;
  display: flex;
  flex-direction: column;
  width: 50%;
}

form h3
{
  color: #555;
  font-family: 'DM SANS';
}

form input, form textarea
{
  border: 0;
  margin: 10px 0;
  padding: 15px;
  outline: none;
  background:#f5f5f5;
  font-size: 16px;
  font-family: 'DM Sans';
}

form button
{
  font-family: 'DM Sans';
  margin-top: 10px;
  padding: 15px;
  background: #555;
  color:#fff;
  font-size: 16px;
  border: 0;
  outline: none;
  cursor:pointer;
}

.contact-text
{
  text-align:center;
}

canvas
{
  position: fixed;
  top: 0;
  left: 0;
}
